.DS_Store
.vscode/
*.o

/darwin-arm64/emulator

linux-arm64-container/docker_shared/emulator/Makefile
linux-arm64-container/docker_shared/emulator/mod_emulator.c
linux-arm64-container/docker_shared/emulator/virt.c
linux-arm64-container/docker_shared/emulator/virt.h

linux-x86-64-container/docker_shared/emulator/Makefile
linux-x86-64-container/docker_shared/emulator/mod_emulator.c
linux-x86-64-container/docker_shared/emulator/virt.c
linux-x86-64-container/docker_shared/emulator/virt.h


/darwin-arm64/umasm/*
linux-arm64-container/.bash_history
linux-x86-64-container/.bash_history
